# LWT specific files

# Settings file
connect.inc.php
# Local audio files
media/
# Text-to-Speech files
tts/

# Docker data
lwt_db_data/

# Dev files

# PHP debugging tools
error.log
access.log
plugins

# Backup files (Doxygen)
*.bak

# Composer packages
composer.phar
/vendor/

# PHPDoc documentation
.phpdoc

# PHP Units test result
.phpunit.result.cache

# Editor
.vscode

_*
# For Mac Users
.DS_Store
